/* Header Styles */
.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 50px; 
    background-color: #4197FE;
    color: white;
    font-family: Verdana, sans-serif;
}

.logo {
    /* If needed, add specific styles for the logo here */
}

.logo img {
    height: 50px; /* Adjust as needed */
    width: auto;
}

.home-button {
    background-color: transparent;
    border: none; 
    color: white; 
    cursor: pointer;
    font-size: 16px; 
    padding: 10px 10px; 
    text-decoration: none; 
    font-family: Verdana, sans-serif; 
}

.home-button:hover {
    background-color: transparent;
    color: #ddd; /* Slightly change color on hover for visual feedback */
}

.hero-section {
    text-align: left;
    padding: 50px 30px;
    background-color: #ffffff;
    font-family: Verdana, sans-serif; 
}

.hero-section h1 {
    font-size: 2em; 
    color: #000000;
    margin-bottom: 50px;
    font-family: Verdana, sans-serif; 
}

.hero-section p {
    margin-bottom: 50px;
    line-height: 1.6;
}

/* Bullet Points Styles */
.bullet-points ul {
    list-style-type: disc;
    padding-left: 30px; 
}

.bullet-points li {
    text-align: left;
    margin-bottom: 20px;
}

/* Text Styles */
.text {
    margin: 50px 0;
    line-height: 1.5;
    font-family: Verdana, sans-serif;
}

/* Footer Styles */
.footer {
    background-color: #4169e1;
    color: white;
    padding: 30px;
    text-align: left;
    font-family: Verdana, sans-serif;
}

@media (max-width: 767px) {
    .header {
        /* Responsive adjustments for header */
    }

    .home-button {
        display: none; /* Hide the button on smaller screens if desired */
    }
