/* Header Styles */
.header {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    padding: 20px; 
    background-color: #ffffff;
    color: #4169e1;
    font-family: Verdana, sans-serif;
}

.logo img {
    height: 60px; /* Adjust as needed */
    width: auto;
}

.home-button {
    background: none;
    border: none;
    color: #fffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-family: Verdana, sans-serif;
    text-decoration: none;
}

/* Content Container Styles */
.content-container {
    display: flex;
    justify-content: space-between;
    align-items: start; /* Align items to the start of the container */
    padding: 20px;
}

/* Styles for Hero Section */
.hero-section {
    flex: 1; /* Takes half of the available space */
    margin-right: 20px; /* Add some space between the sections */
}

/* Styles for Estimate Section */
.estimate-section {
    flex: 1; /* Takes the other half of the available space */
}
.hero-section {
    text-align: left;
    padding: 50px 20px;
    background-color: #ffffff;
    font-family: Verdana, sans-serif; 
}

.hero-section h1 {
    font-size: 2em; 
    color: #000000;
    margin-bottom: 50px;
    font-family: Verdana, sans-serif; 
}

.hero-section p {
    margin-bottom: 40px;
    line-height: 1.6;
}

/* Bullet Points Styles */
.bullet-points ul {
    list-style-type: disc;
    padding-left: 30px; 
}

.bullet-points li {
    text-align: left;
    margin-bottom: 10px;
}

/* Text Styles */
.text {
    margin: 50px 0;
    line-height: 1.5;
    font-family: Verdana, sans-serif;
}

/* Footer Styles */
.footer {
    background-color: #4169e1;
    color: white;
    padding: 30px;
    text-align: left;
    font-family: Verdana, sans-serif;
}

@media (max-width: 767px) {
    .header {
        /* Responsive adjustments for header */
    }

    .content-container {
        flex-direction: column; /* Stack the sections on top of each other */
    }

    .home-button {
        display: none; /* Hide the button on smaller screens if desired */
    }

    .hero-section, .estimate-section {
        flex: none; 
        margin-right: 0; 
    }
}
