/* Base styles */
body {
    font-size: 16px;
    line-height: 1.2;
    font-family: Verdana, Arial, sans-serif;
    background-color: #EDEDED;
}

@media (min-width: 768px) {
    body {
        font-size: 18px;
        line-height: 1.3;
    }
}

a {
    color: #002665;
    text-decoration: none;
}

a:hover {
    color: #0072CE;
    text-decoration: underline;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #EDEDED;
    color: #002665;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    width: 100%;
}

.logo img {
    max-height: 50px;
    max-width: 100px;
}

.logo .navigation {
    flex-grow: 0;
    flex-shrink: 0;
}

.home-button {
    background: none;
    border: none;
    padding: 10px;
    margin: 10px;
    color: #002665;
}

/* Content Container Styles */
.content-container, .side-by-side-container {
    display: grid;
    grid-template-areas: 
      "hero estimate"
      "image services";
    grid-template-columns: 2fr 1fr;
    gap: 0px;
    background-color: #EDEDED;
    color: #002665;
    padding: 10px;
}

.hero-jotform-container {
    grid-area: hero;
    overflow: auto;
}

.estimate-section {
    grid-area: estimate;
}

.image-services-container {
    grid-area: image;
}

.image-section {
    grid-area: image;
}

.services-section {
    grid-area: services;
}

/* Bullet Points Styles */
.bullet-points ul {
    list-style-type: disc;
    padding-left: 30px;
}

.bullet-points li {
    margin-bottom: 10px;
}

/* Footer Styles */
.footer, .sub-footer {
    background-color: #001A33;
    color: #EDEDED;
    text-align: left;
    padding: 30px 20px;
}

.footer {
    background-color: #002665;
}

/* Media Queries */
@media (max-width: 1024px) {
    .side-by-side-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
          "hero"
          "estimate"
          "image"
          "services";
    }
}
