/* Header Styles */
.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #4169e1;
    color: white;
}

/* Logo Styles */
.logo img {
    height: 50px; /* Adjust as needed */
    width: auto;
}

.home-button {
    background-color: transparent; /* Transparent background */
    color: white; /* Set the text color to match the rest of the text */
    border: none;
    cursor: pointer;
    font-size: 16px; /* Adjust to match the size of your text */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none; /* Remove underline from button text */
    font-family: Arial, sans-serif; /* Match the font style of your text */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.home-button:hover {
    color: #ddd; /* Slightly change color on hover for visual feedback */
}

.hero-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #f2f2f2; /* or any color you prefer */
}

.hero-section h1 {
    font-size: 2em; /* Adjust as needed */
    color: #ffffff; /* Color can be adjusted */
    margin-bottom: 20px;
}

.hero-section p {
    margin-bottom: 30px;
    line-height: 1.6;
}

/* Bullet Points Styles */
.bullet-points ul {
    list-style-type: disc;
    padding-left: 20px; 
}

.bullet-points li {
    text-align: left;
    margin-bottom: 10px;
}

/* Text Styles */
.text {
    margin: 20px 0;
    line-height: 1.5;
}

/* Button Styles */
.button {
    padding: 10px 20px;
    background-color: #4169e1;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

/* Footer Styles */
.footer {
    background-color: #4169e1;
    color: white;
    padding: 20px;
    text-align: left;
}

/* Responsive Design */
@media (max-width: 767px) {
    .header, .section, .footer {
        padding: 20px 30px;
    }

    .home-button {
        display: none; /* Hide home button on mobile */
    }
