/* Header Styles */
.header {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    padding: 20px; 
    background-color: #ffffff;
    color: #4169e1;
    font-family: Verdana, sans-serif;
}

.logo img {
    height: 70px; /* Adjust as needed */
    width: auto;
}

.home-button {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-family: Verdana, sans-serif;
    text-decoration: none;
}

/* Content Container Styles */
.content-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
}

.hero-section, .estimate-section {
    flex: 1 1 50%; /* Equal distribution */
    max-width: 50%; /* Limit the width to 50% of the parent */
    box-sizing: border-box; /* Include padding and border in the element's width */
}

.estimate-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    justify-content: center; /* Center the content vertically */
    padding-left: 5px; /* Adjust as needed for spacing */
    flex: 1 1 50%; /* Equal distribution */
    max-width: 50%; /* Limit the width to 50% of the parent */
    box-sizing: border-box; /* Include padding and border in the element's width */
    font-family: Verdana, sans-serif;
}

.hero-section {
    text-align: left;
    padding: 10px;
    background-color: #ffffff;
    font-family: Verdana, sans-serif; 
}

.hero-section h1 {
    font-size: 2em; 
    color: #113f67;
    margin-bottom: 50px;
    font-family: Verdana, sans-serif; 
}

.hero-section p {
    margin-bottom: 40px;
    line-height: 1.6;
}

/* Bullet Points Styles */
.bullet-points ul {
    list-style-type: disc;
    padding-left: 30px; 
}

.bullet-points li {
    text-align: left;
    margin-bottom: 10px;
}

/* Text Styles */
.text {
    margin: 50px 0;
    line-height: 1.5;
    font-family: Verdana, sans-serif;
}

/* Side-by-Side Container Styles */
.side-by-side-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
}

.image-section, .services-section {
    flex: 1 1 50%; /* Equal distribution */
    /* flex-grow: 1; This allows the box to grow equally */
    /* flex-shrink: 1; This allows the box to shrink equally */
    /* flex-basis: 50%; This sets the initial length of the box to 50% */
    max-width: 50%; /* Limit the width to 50% of the parent */
    box-sizing: border-box; /* Include padding and border in the element's width */
}

.image-section {
    text-align: center;
    padding-right: 10px; /* Adjust as needed for spacing */
    font-family: Verdana, sans-serif;
}

.image-section img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.image-section p {
    margin-top: 20px;
}

/* Our Services Section Styles */
.services-section {
    flex: 1;
    text-align: left;
    max-width: 400px;
    padding-left: 10px;
    font-family: Verdana, sans-serif;
}

.services-section ul {
    list-style-type: disc; /* Style for bullet points */
    padding-left: 30px; /* Space for bullet points */
}
    
.services-section {
    text-align: left;
    padding-left: 10px; /* Adjust as needed for spacing */
}

/* Footer Styles */
.footer {
    background-color: #38598b;
    color: white;
    padding: 30px;
    text-align: left;
    font-family: Verdana, sans-serif;
}
    
/* Sub-Footer Styles */
.sub-footer {
    background-color: #113f67;
    color: white;
    text-align: right;
    padding: 10px 20px;
    font-family: Verdana, sans-serif;
}
@media (max-width: 767px) {
    .header {
        /* Responsive adjustments for header */
    }

content-container, .side-by-side-container {
        flex-direction: column; /* Stack the sections on top of each other */
    }

    .home-button, .hero-section, .estimate-section, .image-section, .services-section, .sub-footer {
        display: none; /* Hide the button on smaller screens if desired */
        flex: none; 
        margin-right: 0; 
        max-width: 100%; /* Full width on smaller screens */
    }
}

@media (max-width: 1024px) {
    .side-by-side-container {
        flex-direction: column;
    }

    .hero-section, .estimate-section, .image-section, .services-section {
        flex: none;
        margin-right: 0;
        max-width: 100%; /* Full width on smaller screens */
        padding-right: 0; /* Reset spacing */
        padding-left: 0; /* Reset spacing */
    }
